{% extends 'layout.html' %}

    {% block active_nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('home.home') }}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('register.student') }}">Insert a Student</a>
            </li>
            <li class="nav-item"><a class="nav-link" href=" {{ url_for('register.admin') }}">Register an account</a></li>
        {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
           <li class="nav-item"><a class="nav-link" href=" {{ url_for('logout.logout') }}">Logout - {{ current_user.email }} | {{ current_user.roles }} </a></li>
                {% else %}

            <li class="nav-item"><a class="nav-link" href=" {{ url_for('login.login') }}">Login</a></li>
        {% endif %}
    </ul>
    {% endblock %}

{% block content %}

    <h2 class="mt-4 border-bottom">Manage an admin</h2>
    <form method="post" action="" class="mt-4 mb-4">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class='form-control-label') }}

            {% if form.email.errors %}
                {{ form.email(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class='form-control form-control-lg', value=user.email) }}
            {% endif%}
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.admin.label(class='form-check-label mr-4') }}
                {{ form.admin(class='form-check-input') }}
            </div>

            <div class="form-check">
                {{ form.moderatore.label(class='form-check-label mr-4') }}
                {{ form.moderatore(class='form-check-input') }}
            </div>
        </div>


        <div class="form-group">
            {{ form.id(class='form-control form-control-lg', hidden=true, readonly=true, value=user.id) }}
        </div>
            {{ form.edit(class='btn btn-outline-primary') }}
            {{ form.delete(class='btn btn-outline-danger') }}
    </form>
{% endblock %}
