{% extends 'layout.html' %}

    {% block head %}
        <script>
            var errore = '{{ error }}';
        </script>
    {% endblock %}

    {% block active_nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href=" {{ url_for('home.home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('register.student') }}">Insert a Student</a>
        </li>
        <li class="nav-item"><a class="nav-link" href=" {{ url_for('register.admin') }}">Register an account</a></li>
        <li class="nav-item"><a class="nav-link" href=" {{ url_for('manage.manage') }}">Advanced management</a></li>
    </ul>
    {% endblock %}
{% block content %}
    {% if student_id %}
        <h2 class="mt-4 border-bottom">Edit a Student</h2>
    {% else %}
        <h2 class="mt-4 border-bottom">Insert a Student</h2>
    {% endif %}
    <div id="container-form"></div>

{% endblock %}
{% block script %} <script src="{{ url_for('static', filename='load_form.js') }}"></script> {% endblock %}
