{% extends 'layout.html' %}
    {% block active_nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('home.home') }}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active" href=" {{ url_for('register.student') }}">Insert a Student</a>
            </li>
            <li class="nav-item"><a class="nav-link" href=" {{ url_for('register.admin') }}">Register an account</a></li>
            <li class="nav-item"><a class="nav-link" href=" {{ url_for('manage.manage') }}">Advanced management</a></li>
        {% endif %}
    </ul>
    <ul class="navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href=" {{ url_for('logout.logout') }}">Logout - {{ current_user.email }} | {{ current_user.roles }} </a></li>
                {% else %}

            <li class="nav-item"><a class="nav-link" href=" {{ url_for('login.login') }}">Login</a></li>
        {% endif %}
    </ul>
    {% endblock %}
{% block content %}
    {% if student_id %}
        <h2 class="mt-4 border-bottom">Edit a Student</h2>
    {% else %}
        <h2 class="mt-4 border-bottom">Insert a Student</h2>
    {% endif %}


    <form method="post" action="" class="mt-4 mb-4">
        {{ form.hidden_tag() }}

        {% if student_id %}

            <div class="form-group">
            {% if form.id.errors %}
                {{ form.id(class='form-control form-control-lg is-invalid check_students') }}
                <div class="invalid-feedback">
                    {% for error in form.id.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.id(class='form-control form-control-lg check_students') }}
            {% endif%}
            </div>

        {% endif %}



        <div class="form-group">
            {{ form.name.label(class='form-control-label') }}

            {% if form.name.errors %}
                {{ form.name(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class='form-control form-control-lg') }}
            {% endif%}

        </div>
        <div class="form-group">
            {{ form.lastname.label(class='form-control-label') }}
            {% if form.lastname.errors %}
                {{ form.lastname(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.lastname.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.lastname(class='form-control form-control-lg') }}
            {% endif%}
        </div>
        <div class="form-group">
            {{ form.age.label(class='form-control-label') }}
            {% if form.age.errors %}
                {{ form.age(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.age.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.age(class='form-control form-control-lg') }}
            {% endif%}
        </div>
        <div class="form-group">
            {{ form.email.label(class='form-control-label') }}
            {% if form.email.errors %}
                {{ form.email(class='form-control form-control-lg is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class='form-control form-control-lg') }}
            {% endif%}
        </div>
            {% if not student_id %}
                {{ form.submit(class='btn btn-primary') }}
            {% endif %}

            {% if student_id %}
                {{ form.edit(class='btn btn-info') }}
                {{ form.delete(class='btn btn-danger') }}
            {% endif %}
    </form>
{% endblock %}
