{% extends 'layout.html' %}
    {% block active_nav %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href=" {{ url_for('home.home') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('register.student') }}">Insert a Student</a>
        </li>
        <li class="nav-item"><a class="nav-link" href=" {{ url_for('register.admin') }}">Register an account</a></li>
        <li class="nav-item"><a class="nav-link" href=" {{ url_for('manage.manage') }}">Advanced management</a></li>
    </ul>
    {% endblock %}
{% block content %}
    <h2 class="mt-4 mb-4 border-bottom">Gestione avanzata degli studenti</h2>
<div class="table-responsive">
    <table class="table table-striped table-dark table-bordered mt-4">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Eta'</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>

            {% for student in students %}
                <tr class="memberSection{{ student.id }}">
                    <th> <a href="{{ url_for('register.student', id = student.id) }}">{{ student.id }}</a></th>
                    <td> {{ student.name }}</td>
                    <td> {{ student.lastname}}</td>
                    <td> {{ student.age }} </td>
                    <td> {{ student.email }} </td>
                    <td><button class="btn btn-primary updateButton" student_id="{{ student.id }}">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
